<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovitegra.livelines_detection">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".LivelinessActivity"
            android:theme="@style/LivelinessActivityTheme">
        </activity>
    </application>
</manifest>